@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Administration of Comments";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid<MVCExam.Web.Areas.Administration.ViewModels.CommentAdminViewModel>()
    .Name("DataGrid")
    .Columns(columns =>
    {
        columns.Bound(x => x.Id);
        columns.Bound(x => x.AuthorName);
        columns.Bound(x => x.TicketName).ClientTemplate("<a href='/Tickets/Details/#: TicketId #' >#: TicketName #</a>");
        columns.Bound(x => x.Content);
        columns.Command(command => command.Edit().Text(" ")).Width(80);
        columns.Command(command => command.Destroy().Text(" ")).Width(80);
    })
    .Editable(editable =>
    {
        editable.Mode(GridEditMode.PopUp).TemplateName("/Administration/CommentsAdmin/Comment");
        editable.DisplayDeleteConfirmation("Are you sure you want to delete this comment?");
    })
    .ColumnMenu()
    .Pageable(x => x.Refresh(true))
    .Sortable(x => x.Enabled(true).AllowUnsort(false))
    .Resizable(x => x.Columns(true))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Events(events => events.Error("error"))
        .PageSize(10)
        .Batch(false)
        .ServerOperation(true)
        .Sort(x => x.Add(y => y.Id).Descending())
        .Model(model => model.Id(x => x.Id))
            .Read(read => read.Type(HttpVerbs.Post).Action("Read", "CommentsAdmin"))
                .Update(update => update.Type(HttpVerbs.Post).Action("Update", "CommentsAdmin"))
                .Destroy(destroy => destroy.Type(HttpVerbs.Post).Action("Destroy", "CommentsAdmin"))
    )
)

<script>
    function error(e) {

    }
</script>
